@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>About Me</h1>
    <div class="d-flex align-items-center">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQuIbGpQobQCJyUNjtkK3R4_71-FnmxqY-Sqw&usqp=CAU" alt="">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda, sint culpa? Veniam, dolore corrupti blanditiis cumque asperiores deleniti eaque ullam repellat natus suscipit, ratione a eos at sequi, facere nisi?</p>
    </div>
</div>