
h1{
    margin: auto;
    background-color: black;
    color: aqua;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
span{
    
    color: white;
}
h2{margin-top: 3px;
    background-color: blueviolet;
    color: white;
    text-align: center;
    margin-bottom: 3px;

}
h3{margin-top: 3px;
    background-color: skyblue;
    color: blueviolet;
    text-align: end;
    text-decoration: underline;
}
