<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~~/css/style.css">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to dashboard</h1>
    <form action="process" method="post">
        <p>
            Username : <input type="text" name="username">
        </p>
        <p>
            Age : <input type="number" name="age">
        </p>
        <button>Submit</button>
    </form>
</body>
</html>