<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hi</h1>
    <h4>
        Username: @ViewBag.username <br>
        Age : @ViewBag.age
    </h4>
    @{
        for (int i = 0; i < ViewBag.age; i++)
        {
            if (i%2==0)
            {
                <h5>The number @i is even</h5>
            }
        }
    }
</body>
</html>