@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">🤡😶‍🌫️ Session Lecture 😶‍🌫️🤡</h1>
    <div class="card shadow mb-3">
        <div class="card-body">
            <div class="card-text h4">Username: @Context.Session.GetString("username")</div>
            <div class="card-text h4">Age: @Context.Session.GetInt32("age") </div>
        </div>
    </div>
    <div class="card shadow mb-3">
        <div class="card-head h4">👼Session Form👼</div>
        <div class="card-body">
            <form action="/user/create" method="post">
                <div class="form-goup mb-3">
                    <label for="">Username</label>
                    <input type="text" class="form-control" name="username">
                </div>
                <div class="form-goup mb-3">
                    <label for="">Age</label>
                    <input type="number" class="form-control" name="age">
                </div>
                <div class="form-goup mb-3">
                    <label for="">Favourite sport</label>
                    <input type="text" class="form-control" name="favSport">
                </div>
                <button class="btn btn-primary w-50">Submit</button>
            </form>
        </div>
    </div>
</div>
