<div class="text-center">
    <h1 class="display-4">🎶 Your Favourite Song 🎶</h1>
    <div class="card shadow p-3">
        <div class="card-head text-danger text-center h1">
            New Created Song
        </div>
            <div class="mb-3">
                <h4>Title : @ViewBag.Title</h4>
            </div>
            <div class="mb-3">
                <h4>Singer : @ViewBag.Singer</h4>
            </div>
            <div class="mb-3">
                <h4>Release Year : @ViewBag.ReleaseYear</h4>
            </div>
            <div class="mb-3">
                <h4>Is Explicit : @ViewBag.Is Explicit</h4>
            </div>
        </div>
    </div>
</div>